---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>

<h1>
Astro tutorial videos
</h1>
<div>
<p> 1. Astro Blog Course - 18 videos
   Coding in public
   Dec 13, 2023
   *1 Intro and installation 10:48
   *2 Astro Basics 6 months ago 10:27
   *3 Layouts 6 months ago 9:58
   *4 CSS & Styling 6 months ago 12:13
</p>
# 2. Astro JS Crash Course - 5 videos
   Joe Tynan
   *1 Creating a New Astro JS Blog 10:49 April 1, 2023
   *2 Building the AstroJS Blog Page Templates 13:31
</div>

	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
